body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide {
  transform: translate3d(-500px, 0, 0);
}

.slide li {
  max-width: 800px;
  width: 80vw;
  margin: 0 20px;
  flex-shrink: 0;
}